<div class="container">

  <div class="search-box">
    <input 
      type="text"
      [formControl]="search"
      placeholder="Ingresá el nombre de la ciudad"
    />

    <!-- Boton opcional -->
    <button (click)="onSearch()" [disabled]="loading">Buscar</button>
  </div>

  <p *ngIf="loading">Buscando...</p>
  <p *ngIf="error" class="error">{{ error }}</p>

  <!-- Si hay resultados -->
  <div class="results" *ngIf="cities.length > 0 && !loading">
    <h3>Resultados:</h3>
    <ul>
      <li *ngFor="let c of cities">
        {{ c.name }} - {{ c.countryName }} ({{ c.countryCode }})
      </li>
    </ul>
  </div>

  <!-- No resultados -->
  <p *ngIf="!loading && cities.length === 0 && search.value">No se encontraron ciudades</p>

  <p *ngIf="!auth.isAuthenticated()">
  Debes iniciar sesión para buscar ciudades.
  </p>

</div>
